/* #Home {
  border: 3px solid red;
}
#Home > * {
  border: 3px solid green;
}
#Home > * > * {
  border: 3px solid blue;
} */
#Home {
  background-color: black;
} 
#Home header {
  background-image: url(https://cdn.pixabay.com/photo/2015/11/26/02/04/jeju-island-1063203_960_720.jpg);
  background-size: cover;
  width: 100%;
  height: 39rem;
  background-position-x: center;
  background-position-y: 75%;
  border-bottom: 1px solid white;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.75);
  font-family: "Source Sans Pro", sans-serif;
}
#Home header::before {
  background-image: linear-gradient(
    rgba(20, 27, 46, 0),
    rgba(20, 27, 46, 0),
    rgba(20, 27, 46, 0.5)
  );
  width: 100%;
  left: 0;
  top: 1;
  height: 39rem;
  position: absolute;
  content: "";
}
#Home header .title h1 {
  max-width: 40rem;
  margin: 0 auto 2.5rem;
  font-size: 6rem;
  font-weight: 500;
  text-align: center;
  padding-top: 8rem;
}
.menu h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
}
.menu .quick {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.75);
  font-family: "Source Sans Pro", sans-serif;
  border-bottom: 3px solid hsla(0, 0%, 100%, 0.5);
  margin-left: 0.5rem;
}
.menu .quick:hover {
  color: white;
  text-decoration: none;
  border-bottom: 3px solid white;
}
.menu p {
  display: inline;
}
.searchbar {
  text-align: center;
  margin: 4.5rem auto 0;
  max-width: 40rem;
  position: relative;
}
.searchbar .control {
  display: flex;
}
.searchbar .control-input {
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  height: 2.5rem;
  width: 100%;
}
.searchbar .control-input[type="text"] {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  color: #182020;
  font-weight: 400;
  padding-left: 3.5rem;
  display: inline-block;
  border: none;
}
.icon-search {
  font-size: 1.3rem;
  text-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.6);
  position: absolute;
  padding: 0.5rem 1rem;
}
.searchbar .control-button {
  background: #ff1e56;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Source Sans Pro", sans-serif;
  display: inline-block;
  width: 9rem;
  height: inherit;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
section {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.75);
  font-family: "Source Sans Pro", sans-serif;
  display: block;
  width: 100%;
  word-wrap: break-word;
}
section .columns {
  border: 3px solid red;
  display: flex;
  flex-wrap: wrap;
}
.columns > .column {
  /* border: 3px solid green; */
  display: inline-block;
  margin: 1rem auto;
  min-width: 20rem;
  text-align: center;
}
.column h3 {
  font-size: 3rem;
  font-weight: 400;
}
.column .tile {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.9);
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  display: block;
  border: 1px solid grey;
  overflow: hidden;
  margin: 3rem 0;
  position: relative;
  transition: border-color 0.25s;
  line-height: 10rem;
}
.column .tile:hover{
  color: white;
  border: 1px solid white;
}
.column .tile-pm:hover{
  transform: scale(1.2);
  transition: transform 0.5s;
}
.tile-pm{
  background-image: url(https://lh3.googleusercontent.com/proxy/7fpwFDYh4W1qkGKWLdBde-QB5RJ5y5G1PALqnXblM1CWAg8eDwz0U6-5pz9pH1YWLMysblT4lxKHk41Uq-c3hyheSDseeWUMGEGpaOgy7EkJwWsrc2ap_TBujyhNht6spbzDb75AGYr-GIWWIFM2sb-B1VZ6Uf_iLmkyN6N_z078);
  background-size: cover;
  width: 100%;
  height: 10rem;
  background-size: cover;
  background-position-x: center;
  background-position-y: 90%;
  font-size: 2rem;
}
.column .tile-tj:hover{
  transform: scale(1.2);
  transition: transform 0.5s;
}
.tile-tj{
  background-image: url(https://img.kbs.co.kr/kbs/620/nsimg.kbs.co.kr/data/news/2016/02/06/3228489_HWw.jpg);
  background-size: cover;
  width: 100%;
  height: 10rem;
  background-size: cover;
  background-position-x: center;
  background-position-y: 90%;
  font-size: 2rem;
}
.column .tile-cs:hover{
  transform: scale(1.2);
  transition: transform 0.5s;
}
.tile-cs{
  background-image: url(https://www.korea.kr/newsWeb/resources/attaches/2019.06/18/K4.jpg);
  background-size: cover;
  width: 100%;
  height: 10rem;
  background-size: cover;
  background-position-x: center;
  background-position-y: 90%;
  font-size: 2rem;
}
footer {
  color: white;
}
