#nav {
    position: fixed;
    /* text-align: center; */
    padding: 0.5rem;
    left: 0;
    top: 0;
    height: 2rem;
    width: 100%;
    z-index: 3;
    background: rgba(0, 0, 0, 0.5);
    margin: 0;
    transition: top 0.2s ease-in-out;
  }
  #nav .home-btn {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.75);
    font-family: "Source Sans Pro", sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
  }
  #nav .home-btn:hover{
    color: black;
    background-color: white;
  }