/* #App {
  border: 3px solid red;
}
#App > * {
  border: 3px solid green;
}
#App > * > * {
  border: 3px solid blue;
} */
section{
  font-size: 8rem;
  display: block;
  width: 100%;
  word-wrap: break-word;
  color: white;
}
footer{
  color: white;
}
